.App__listItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px solid darkgray;
}

.App__bookTitle {
  width: 100%;
}

.App__thumbnail {
  flex-basis: 1;
  padding-bottom: 10px;
  padding-top: 10px;
}

.App__bookInfo {
  width: 66%;
  padding-bottom: 10px;
}
